ul {
    padding-right: 0;
}
.desktop-nav .navbar .others-options ul li {
    margin-right: 0;
    margin-left: 30px;
}
.desktop-nav .navbar .others-options ul li:last-child {
    margin-left: 0;
}
.desktop-nav .navbar .others-options ul li .search-box .search-btn {
    right: auto;
    left: 20px;
}
.desktop-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-right: 20px;
    margin-left: 0;
}
.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    left: auto;
    right: 0;
}
.desktop-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 18px;
    margin-right: 0;
}
.banner-img .shape.shape-6 {
    right: auto;
    left: 0;
}
.desktop-nav .navbar .navbar-nav .nav-item a.dropdown-toggle::before {
    right: auto;
    left: 0;
}
.desktop-nav .navbar .navbar-nav .nav-item a.dropdown-toggle {
    padding-right: 0 !important;
    padding-left: 22px !important;
}
.banner-content {
    margin-left: 0;
    margin-right: auto;
}
.banner-content h3 {
    margin-right: 125px;
}
.right-siderbar .right-siderbar-common h3 {
    padding-left: 0;
    padding-right: 30px;
}
.right-siderbar .right-siderbar-common h3 i {
    left: auto;
    right: 0;
}
.right-siderbar .right-siderbar-common .discussions ul li a {
    padding-left: 0;
    padding-right: 15px;
}
.right-siderbar .right-siderbar-common .discussions ul li a::before {
    left: auto;
    right: 0;
}
.right-siderbar .right-siderbar-common .top-members ul li {
    padding-left: 0;
    padding-right: 60px;
}
.right-siderbar .right-siderbar-common .top-members ul li img {
    left: auto;
    right: 0;
}
.single-qa-box .tag-list li {
    margin-right: 0;
    margin-left: 10px;
}
.single-qa-box .tag-list li:last-child {
    margin-left: 0;
}
.single-qa-box .anser-list li {
    margin-right: 0;
    margin-left: 30px;
}
.single-qa-box .anser-list li:last-child {
    margin-left: 0;
}
.middull-content .aq-form .form-control {
    padding-left: 0;
    padding-right: 60px;
}
.middull-content .aq-form i {
    left: auto;
    right: 20px;
}
.middull-content .aq-form .aq-btn {
    right: auto;
    left: 20px;
}
.middull-content .aq-form i {
    border-right: none;
    border-left: 1px solid #eeeeee;
    padding-right: 0;
    padding-left: 10px;
}
.metismenu .has-arrow::after {
    right: auto !important;
    left: 17px !important;
}
.left-sidebar .sidebar-nav .sidebar-menu li .box-style {
    border-left: none;
    border-right: 2px solid #f48225;
}
.question-details-area .answer-question-details .latest-answer-list li.reports {
    float: left;
}
.page-nish li {
    margin-right: 0;
    padding-right: 0;
    margin-left: 20px;
    padding-left: 20px;
}
.page-nish li::before {
    right: auto;
    left: 0;
}
.page-nish li a {
    padding-left: 0;
    padding-right: 20px;
}
.page-nish li a i {
   left: auto;
   right: 0;
}
.single-qa-box .graphic-design li {
    margin-right: 0;
    margin-left: 20px;
}
.single-qa-box .graphic-design li:last-child {
    margin-left: 0;
}
.single-group-box .group-content .group-sub-img {
    padding-left: 0;
    padding-right: 100px;
}
.single-group-box .group-content .group-sub-img img {
    left: auto;
    right: 0;
}
.single-tags-box .tag-mark li {
    margin-right: 0;
    margin-left: 20px;
}
.single-tags-box .tag-mark li:last-child {
    margin-left: 0;
}
.profile-content .profile-img .followers-btn {
    margin-right: 0;
    margin-left: 10px;
}
.profile-content .profile-img .followers-btn:last-child {
    margin-left: 0;
}
.profile-content .profile-img {
    padding-left: 0;
    padding-right: 160px;
}
.profile-content .profile-img img {
    left: auto;
    right: 0;
}
.top-tags ul li .tag-score {
    text-align: left;
    float: left;
    margin-right: 0;
    margin-left: 20px;
}
.edit-profile-area .profile-tabs .edit-profile .public-information .information .file-upload-account-info {
    margin-left: 0;
    margin-right: 30px;
}
.desktop-nav .navbar .others-options ul li .dropdown .dropdown-menu {
    left: 0 !important;
    right: auto !important;
}
.desktop-nav .navbar .others-options ul li .dropdown button span {
    margin-left: 0;
    margin-right: 5px;
}
[type=email], [type=number], [type=tel], [type=url] {
    direction: unset;
}
.referrals-form .fprm-group .default-btn {
    right: auto;
    left: 0;
}
.edit-profile-area .edeite-content .form-group.email-save .default-btn {
    right: auto;
    left: 0;
}
.single-monthly-item::before {
    right: auto;
    left: -6px;
}
.copy-right-content .language {
    float: left;
}
.footer-area .footer-shape {
    right: auto;
    left: 0;
}
.blog-single-item .blog-content ul li {
    margin-right: 0;
    margin-left: 20px;
}
.blog-single-item .blog-content ul li:last-child {
    margin-right: 0;
    margin-left: 0;
}
.page-title-area .page-title-list li {
    margin-right: 0;
    margin-left: 30px;
}
.page-title-area .page-title-list li:last-child {
    margin-left: 0;
}
.page-title-area .page-title-list li::before {
    right: auto;
    left: -17px;
}
.page-title-area .page-title-list {
    text-align: left;
}
.right-siderbar .right-siderbar-common .search-form form .src-btn {
    right: auto;
    left: 20px;
}
.right-siderbar .right-siderbar-common .categories ul li a span {
    float: left;
}
.go-top {
    right: auto;
	left: 3%;
}
.go-top.active {
    right: auto;
	left: 3%;
}

@media only screen and (max-width: 767px) {
    .banner-content h3 {
        margin-right: 0;
    }
    .single-qa-box .anser-list li {
        margin-left: 15px;
    }
    .copy-right-content .language {
        float: unset;
    }
    .page-title-area .page-title-list {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-content {
        margin: auto;
        margin-bottom: 30px;
    }
    .banner-content h3 {
        margin-right: 0;
    }
    .single-qa-box .anser-list li {
        margin-left: 15px;
    }
    .copy-right-content .language {
        float: unset;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-qa-box .anser-list li {
        margin-left: 10px;
    }
    .desktop-nav .navbar .others-options ul li {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 991px) {
    .mobile-responsive-nav .mean-container a.meanmenu-reveal {
      right: auto !important;
      left: 0 !important;
    }
    .mobile-responsive-nav .mean-container .mean-nav ul li a {
      text-align: right;
      float: right;
    }
    .mobile-responsive-nav .mean-container .mean-nav ul li a.mean-expand {
      text-align: left !important;
      right: unset;
      left: 0;
    }
    .others-option-for-responsive .dot-menu {
      top: -41px;
      left: 50px;
      right: auto;
    }
    .others-option-for-responsive .container .container {
      right: auto;
      left: 0;
    }
    .others-options ul li .search-form .search-btn {
      right: auto !important;
      left: 0;
    }
    .others-option-for-responsive .others-options .search-form {
      margin-right: 0;
      margin-left: 10px;
    }
    .others-option-for-responsive .others-options .search-form .src-btn {
      right: auto;
      left: 17px;
    }
    .others-option-for-responsive .others-options ul li .search-box .search-btn {
        left: 20px;
        right: auto;
    }
    .others-option-for-responsive .others-options ul li {
        margin-right: 0;
        margin-left: 10px;
    }
}